doctype html
head
	//Global Site Tag (gtag.js) - Google Analytics
	script(async src="https://www.googletagmanager.com/gtag/js?id=UA-47717247-14")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());
		gtag('config', 'UA-47717247-14');
		//Google Tag Manager
		(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NQNWFJN')
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title QuiFaitÇa?
	//Search Engine
	meta(name="description" content="Liste des Créatifs Antillais, selectionnez les meilleurs pour vous aider à réaliser vos projets.")
	meta(name="image" content="http://quifaitca.fr/QuiFaitCa.png")
	//Schema.org for Google
	meta(itemprop="name" content="QuiFaitÇa?")
	meta(itemprop="description" content="Liste des Créatifs Antillais, selectionnez les meilleurs pour vous aider à réaliser vos projets.")
	meta(itemprop="image" content="http://quifaitca.fr/QuiFaitCa.png")
	//Twitter
	meta(name="twitter:card" content="summary")
	meta(name="twitter:title" content="QuiFaitÇa?")
	meta(name="twitter:description" content="Liste des Créatifs Antillais, selectionnez les meilleurs pour vous aider à réaliser vos projets.")
	meta(name="twitter:site" content="@shewa66")
	meta(name="twitter:creator" content="@shewa66")
	meta(name="twitter:image:src" content="http://quifaitca.fr/QuiFaitCa.png")
	// Open Graph general (Facebook, Pinterest & Google+)
	meta(name="og:title" content="QuiFaitÇa?")
	meta(name="og:description" content="Liste des Créatifs Antillais")
	meta(name="og:image" content="http://quifaitca.fr/QuiFaitCa.png")
	meta(name="og:url" content="http://quifaitca.fr")
	meta(name="og:site_name" content="QuiFaitÇa?")
	meta(name="og:locale" content="fr_FR")
	meta(name="og:type" content="website")
	//
	meta(name="description" content="Liste des Créatifs Antillais, selectionnez les meilleurs pour vous aider à réaliser vos projets.")
	meta(name="author" content="MarvinL.com")
	meta(name="robots" content="index, follow")
	meta(name="Keywords" content="guadeloupe, martinique, guyane,web, freelance, repertoire, liste, annuaire, associé, numérique, designers, design, designer, pages jaunes, developpeurs, developpeur, developpement, creation, contenu, site, logo, applications, mobile, applications mobiles, blog, instagram")
	//Materialize CSS
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
	link(rel="stylesheet" href="./css/morphext.css")
body.red.lighten-1
	noscript
		iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NQNWFJN" height="0" width="0" style="display:none;visibility:hidden")
	block content
	block comment
		.container
			.row
				.col.s12
					#disqus_thread
					script.
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
						
						var disqus_config = function () {
						this.page.url = "http://quifaitca.fr/";  // Replace PAGE_URL with your page's canonical URL variable
						/*this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable*/
						};
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://quifaitca.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
							})();
					noscript Please enable JavaScript to view the 
						a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.
	block footer
		footer.page-footer
			.container
			.footer-copyright
				.container
					p &copy; 2017 − Tous droits réservés. 
						span.right Site lancé par 
							a.grey-text.text-lighten-4(href="http://marvinL.com" target=_blank)
								b MarvinL.com
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
	script(type="text/javascript" src="./js/morphext.min.js")
	script.
		$("#ca").Morphext({
				animation: "bounceIn",
				separator: ",",
				speed: 2000,
				complete: function () {
		}
		}); 